include navbar
head
    link(rel='stylesheet', href='/stylesheets/about.css')
body
    block content
    #headtitle
      p About the Application
    #rocketpro
      p Rocket Pro is a Statistical Tracker for Rocket League. While Rocket League has over 30 million copies sold, the race to become the best has become ubiquitously prevalent. In this ever-so-competitive respect, being able to track your in-game stats is very beneficial, including your Match Making Rank (MMR), which is usually inaccessible. Rocket Pro offers a quick solution to viewing your MMR and related stats with the click of a button.
    #title
      p About the Creator
    #abouttheauthor
      P My name is William Hallendy. Rocket Pro was created for a school project for Oakland University located in Rochester Hills, Michigan. I have played video games nearly all of my life, and this amazing, polished, ultra-competitive yet super-chill game has become one of my all-time favorites (and that's saying a lot).
      p While Rocket Pro is a finished project, I aim to continue to progress and update the site into a tool for not only stats but any Rocket League demands that may be thrown your way. If you have any questions, comments, or concerns please feel free to notify my at wjhallen@oakland.edu. If you would like to add me on Steam and play with me, my Steam ID is 76561198272471658. Thanks for the support, and I hope you enjoy!
    #homelink
      a(href='/') HOME