include navbar
html
  head
    script(src='../public/javascripts/player_id.js')
    link(rel='stylesheet', href='/stylesheets/index.css')
  body
    block content
      h1= title
      #loginbox
        #platformtext
          p Choose your platform
        #platforminput
          put(type='submit', value='Submit')
        #platformpics
          img(src='/public/images/steam.png' width="50" height="50")
          img(src='/public/images/xbox.png' width="50" height="50")
          img(src='/public/images/playstation.png' width="50" height="50")
        #usernametext
          p Enter your username
        #usernameinput
          form(action='/stats',)
            br
            input(id='player_id', type='text', userid='username', placeholder='Username or ID', onfocus="this.value=''")
            br
            br
            input(type='submit', value='See your stats!')
