head
    script(src='../public/javascripts/goals.js')
    script(src='../public/javascripts/skills.js')
    link(rel='stylesheet', href='/stylesheets/stats.css')
body
    include navbar
    block content
    #userName
        p !{user_name}
    #rewardLevel
        p Season Reward Level:
        if reward_level == 0
            p You have no reward level yet
        else if reward_level == 1
            P Bronze
        else if reward_level == 2
            p Silver
        else if reward_level == 3
            p Gold
        else if reward_level == 4
            p Platinum
        else if reward_level == 5
            p Diamond
        else if reward_level === 6
            p Champion
        else if reward_level == 7
            p Grand Champion
        else if reward_level == 8
            p what's after GC??
        else
            p this value is not 0-8...
    #goals
        p Goals: #{goals}
    a(href='/') HOME