body {
    margin-top: 85px;
    margin-bottom: 40px;
    text-align: center;
    background-color: black;
    background-image: url("../images/RocketLeagueBackground2.jpg");
    background-size: cover;
    background-attachment: fixed;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 60pt;
    color: white;
}

#loginbox {
    border-radius: 25px;
    //border: 1px solid black;
    margin: auto;
    max-width: 300px;
    padding: 15px;
    background-color: rgb(0,0,0, .5);
}

#platformtext {
    font-size: 18pt;
    color: white;
}

#platformpics {
	justify-content: center;
    float: left;
}

img {
    float: left;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
}

#checkboxes {
	margin-bottom: 50px;
}

#middle input {

}

#checkboxes input {
    margin-left: 44px;
    margin-right: 44px;
}

#usernametext {
    font-size: 18pt;
    color: white;
}

input[type=text] {
	width: 90%;
    text-align: center;
    font-size: 18pt;
    background-color: rgb(255, 255, 255, .75);
    border: 1px solid black;
}

input[type=submit] {
    font-size: 18px;
    color: white;
    border: 1px solid rgb(0, 77, 175);
    background-color: rgb(0, 77, 175, .5);
    margin-bottom: 25px;
}

p {
}

a {
    font-size: 16pt;
    color: #00B7FF;
}