body {
    margin: 0;
}

ul {
    list-style-type: none;
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    background-color: rgb(147, 147, 147);
    border-bottom: 1px solid black;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a {
    display: block;
    padding: 8px;
}

li a:hover {
    background-color: rgb(0, 128, 255);
}

.active {
    background-color: rgb(0, 128, 255);
}